.settings {

    &-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid lightgreen;
        border-radius: 5px;
        background-color:rgb(189, 252, 189);
        padding: 10rem 0;
    }
    &-name{
        font-family: "Roboto";
        font-size: 3rem;
        margin-top: 2rem;
    }
    &-email{
        font-family: "Roboto";
        font-size: 3rem;
        margin-top: 2rem;
    }

    &-input{
        font-family: 'Roboto';
        font-size: 2rem;
        width: 50rem;
        height: 4rem;
        border-radius: 6px;
        padding-left: 2rem;
        margin-top: 5rem;
    }
    &-avatar img{
        width: 25rem;
        height: 25rem;
        border-radius: 7%;
    }
    &-delete-user__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem auto;
        border: none;
        border-radius: 5px;
        background-color: rgb(250, 121, 0);
        width: 50rem;
        height: 5rem;
        font-family: 'Roboto';
        cursor: pointer;
        font-size: 2rem;
        color: white;
    
    &:hover {
        background: linear-gradient(90deg, rgb(250, 144, 6) 0%, rgb(252, 72, 1) 100%);
    }
    }
}
.submit-btn{
    margin-top: 2rem;
}
.grey-span{
    font-size: 2rem;
}